version: "29.0"

services:
  api:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    env_file:
      - .env

  mongo:
    image: mongo:7
    container_name: mongo_db
    restart: always
    ports:
      - "27016:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
